.select {
  min-width: 165px;
  min-height: 24px;
  background: #FFFFFF;
  border: 1px solid #C2C2C2;
  border-radius: 2px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

}

.select:focus {
  border: 1px solid #000000;
}

.option:hover {}