@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  /* --header_height: 60px; */
  --header_height: 142px;
  --color_primary: #0066CC;
  --color_light: #FFFFFF;
  --color_error: #CC0000;
  --color_danger: #CC1439;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  max-width: 1180px;
  width: 100%;
  margin: 0 auto;

  padding: var(--header_height) 20px;
  background: #FFFFFF;
  min-height: 100vw;

}

.hw {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 24px 0 32px;
}

.hwTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}