.item {
  padding: 0 15px;
  height: 48px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  td {
    border-bottom: 1px solid #E5E5E5;
  }
}

.item:last-of-type {
  td {
    border-bottom: none;
  }
}

.users {
  width: 100%;
  border-spacing: 0;

}

.buttonsContainer {
  display: flex;
  gap: 12px;
  align-self: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  .buttonsContainer {
    margin-bottom: 18px;
  }
}

.thead {
  height: 36px;
  background: #E5E5E5;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

}

.nameCol {
  width: 50%;
  padding: 0 15px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

}

.ageCol {}