.radio {
  width: 24px;
  height: 24px;
  appearance: none;

  border: 2px solid #000;
  border-radius: 50%;
}

.radio::before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20%;
  border-radius: 50%;
}

.radio:checked::before {
  background: #000;
}

.label {
  display: flex;
  gap: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}