.burgerMenuIcon {
  display: block;
  width: 24px;
  height: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(29, 33, 38, 0.13), 0px 0px 2px rgba(29, 33, 38, 0.1);
}

.header h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}